@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background:#d9d4dd;
    --primary: #382356;
    --secondary: #ab97b6;
}

body{
    font-family: 'Fira Code', monospace;
    background: var(--background);
    
}
.primary{
    color: var(--primary);
}
.gray{
    color: var(--gray);
}